@import variablen.sass

// Scrollbar
::-webkit-scrollbar
  width: 4px
  height: 4px
  z-index: 5
  background: $basis-farbe-2

::-webkit-scrollbar-thumb:vertical
  background: $basis-farbe-1

::-webkit-scrollbar-thumb:horizontal
  background: $basis-farbe-1
