@import variablen.sass

// Auszeichnung des Urhebers
#Urheber
  position: fixed
  bottom: 160px
  right: -108px
  transform: rotate(-90deg)
  -webkit-transform-origin: 50%  51%
  -webkit-backface-visibility: hidden
  -webkit-font-smoothing: antialiased
  -webkit-transform-style: preserve-3d

// Icon Set
#IconSet
  width: 80vw
  margin: 40px auto

.IconSetRaster
  width: 100%
  display: grid
  grid-template-columns: calc(10vw - 9px) calc(10vw - 9px) calc(10vw - 9px) calc(10vw - 9px) calc(10vw - 9px) calc(10vw - 9px) calc(10vw - 9px) calc(10vw - 9px)
  grid-column-gap: 10px
  grid-row-gap: 40px

.IconSetRaster > li
  width: 100%
  height: 80px
  text-align: center
  -webkit-transition: all 0.3s ease-in
  -moz-transition: all 0.3s ease-in
  -o-transition: all 0.3s ease-in
  transition: all 0.3s ease-in

.IconSetRaster > li > img
  width: 50px
  height: 50px
  clear: both
  margin: 0px calc((10vw - 50px) / 2) 0px calc((10vw - 50px) / 2)

.IconSetRaster > li > .Kommentar
  display: block

.Verworfen
  opacity: 0.2

// Startseite-Button
#Startseite
  position: fixed
  top: 40px
  left: 20px

// Navigation
#IconSetNavigation
  width: 80vw
  margin: 40px auto
  display: grid
  grid-template-columns: calc((80vw / 4) - 15px) calc((80vw / 4) - 15px) calc((80vw / 4) - 15px) calc((80vw / 4) - 15px)
  grid-gap: 20px

#IconSetNavigation > li
  width: calc((80vw / 4) - 15px)
  display: flex
  justify-content: space-around
  align-items: center
  border-bottom: 1px $comment-color-1 solid

#IconSetNavigation > li > a > section > h4
  text-align: center
  margin: 10px 0px 5px 0px

#IconSetNavigation > li > a > section > p
  text-align: center
  color: $comment-color-1
  margin: 0px 0px 10px 0px

#IconSetNavigation > li > a > section > svg
  width: calc(50px * 2) !important
  margin: 40px calc((((80vw / 4) - 15px) - 100px) / 2)
  height: auto
