// Basis-Farben
$basis-color-1: rgb(0, 0, 0)
$basis-color-2: rgb(255, 255, 255)

// Kommentar-Farben
$comment-color-1: rgb(128, 128, 128)

// Icon-Set-Farben
$icon-set-line-color: rgb(0, 0, 0)
$icon-set-fill-color: rgba(170, 170, 170, 0.5)
