@import ../variables.sass

// durance
.durance-duoton > path:last-child
  fill: $icon-set-fill-color !important

// triangle
.triangle-duoton > polygon
  fill: $icon-set-fill-color !important

// information
.information-1-duoton > polyline
  fill: $icon-set-fill-color !important

.information-2-duoton > polygon
  fill: $icon-set-fill-color !important

.information-2-duoton > polyline
  fill: $basis-color-2 !important

// circle
.circle-duoton > circle
  fill: $icon-set-fill-color !important

// mail
.mail-duoton > polygon:first-child
  fill: $icon-set-fill-color !important

// location
.location-duoton > path
  fill: $icon-set-fill-color !important

// Pause
.pause-duoton > rect
  fill: $icon-set-fill-color !important

// Play
.play-duoton > polygon
  fill: $icon-set-fill-color !important

// priority
.priority-duoton > polygon
  fill: $icon-set-fill-color !important

// complexity
.complexity-duoton > polygon
  fill: $icon-set-fill-color !important

// heart
.heart-duoton > path
  fill: $icon-set-fill-color !important

// star
.star-duoton > polygon
  fill: $icon-set-fill-color !important

// difference-Icon
.difference-duoton > path:first-child
  fill: $icon-set-fill-color !important

// diamond-Icon
.diamond-duoton > polygon:first-child,
.diamond-duoton > polygon:nth-child(3),
.diamond-duoton > polygon:nth-child(6),
.diamond-duoton > polygon:nth-child(5)
  fill: $icon-set-fill-color !important
